html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.days {
  display: inline-block;
  border: 1px solid green;
  position: relative;
  padding: 20px;
  margin: 20px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
}
.container {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}
.active {
  border: red;
  color: white;
  background-color: red;
}
h1 {
  text-align: center;
  color: green;
}
